* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-container {
  width: 1000px;
  max-width: 90%;
  height: 100px;
  background-color: blueviolet;
  color: white;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin-top: -10px;
}
ul {
  display: flex;
  padding: 2px;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
  padding: 5px;
}
.active {
  color: rgb(239, 216, 10);
}
.header-container {
  padding: 2rem;
  padding-top: 5rem;
}
.header-img {
  width: 600px;
  max-width: 80%;
  display: block;
  margin: auto;
}
.header-container .heading {
  text-align: center;
  padding-top: 1rem;
  color: gray;
  margin-bottom: 10px;
}
.heading-inverted {
  color: blueviolet;
}
.container {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}
.container-technologies {
  max-width: 90%;
  width: 900px;
  margin: auto;
  background-color: rgb(243, 242, 242);
  border-radius: 10px;
  padding: 10px;
}
.head {
  color: rgb(124, 2, 141);
}
hr {
  border-left: 2px solid blueviolet;
  height: 10px;
  display: inline;
}
.container-projects {
  max-width: 90%;
  width: 900px;
  margin: auto;
  /* background-color: rgb(243, 242, 242); */
  border-radius: 10px;
  padding: 10px;
}
.container-blogs {
  max-width: 90%;
  width: 900px;
  margin: auto;
  background-color: rgb(243, 242, 242);
  border-radius: 10px;
  padding: 10px;
}
button {
  margin-right: 10px;
}
.project-btn {
  width: 100px;
  height: 50px;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
}
.blogs-btn {
  width: 100px;
  height: 50px;
  color: blueviolet;
  background-color: none;
  border: 1px solid blueviolet;
  border-radius: 10px;
}
/* footer */
.footer-container {
  width: 1000px;
  max-width: 90%;
  height: 100px;
  background-color: blueviolet;
  color: white;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  /* margin-bottom: -5px; */
  font-size: large;
  font-weight: 300;
}
.footer-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block; */
  /* flex-direction: row; */
  padding-top: 20px;
}
.icons {
  padding-left: 10px;
}
